<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora IMC</title>
    <link href="css/style.css" rel="stylesheet"> 
    <link href="/img/imcpregunta.png" rel="icon shortcut">
</head>
<body>
    <div class="container">
        <img src="/img/imcpregunta.png" width="300" height="400" alt="imcpregunta"/>
        <form class="form">
        
            <h4>Calculadora de IMC</h4>

            <tr>
                <td> <label class="label">Peso: </label></td>
                <td> <input class="text" type="number" step="0.001" name="peso" placeholder="Ingrese peso en Kg"></td>
            </tr>

            <tr>
              <td><label class="label">Altura: </label></td>
              <td><input class="text" type="number" step="0.001" name="altura" placeholder="Ingrese Altura en metros"></td>
            </tr>
       
            <tr>
                <td><input class="button" type="submit" value="Calcular"></td>
            </tr>

         <p  th:text="'Su IMC es de: '+${IMC}"></p> 

         <p  th:text="'Su Estado es: '+${Estado}"></p> 

         <p>Consulta la <a href="/img/tabla.jpg">Tabla de IMC</a></p>

       
        </form>
    </div> 
    
</body>
</html>